data/sample_data_dictionary.json
data/2223\ \|\ grade\ 8\ \|\ master\ \|\ sem1sem2\ \|\ train\[fullsat\].pkl
data/2324\ \|\ grade\ 8\ \|\ master\ \|\ sem1sem2\ \|\ srv-upd\[fullsat\].pkl
data/students_options_v1.pkl
configs/with_tuned_params.json
src/__pycache__
src/wandb
